*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    color: #ffffff;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    position: absolute;
    z-index: 1;
    margin: 3% 5% 5% 6%;
}

.idiomas-navbar{
    padding: 5px;
    width: 100px;
    margin-left: 33rem;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

.option-navbar{
    background-color: #757575;
    font-size: 15px;
}

.botao-entrar-navbar{
    display: inline-block;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff0000;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-left: 50rem;
    margin-top: -35px;
}

.navbar img{
    width: 130px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 657px;
    position: relative;
    background-size: cover;
    background-image: url(../img/background-main.jpg);
}

.main-child{
    margin-top: 5rem;
    z-index: 1;
}

.main h1{
    font-size: 45px;
    max-width: 800px;
}

.main h2{
    margin-top: 30px;
}

.main h3{
    font-size: 20px;
    font-weight: lighter;
    margin-top: -45px;
}

.gradient{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 75%,rgba(0,0,0,.8) 100%);
}

/*----- Formulário / botao cta-----*/
.cta{
    margin-top: 5rem;
}

input{
    width: 400px;
    padding: 20px 20px 20px 5px;
    margin-top: 1rem;
}

input::placeholder{
    font-size: 17px;
}

input:focus{
    outline: 0;
}

.button-cta{
    padding: 15px 20px 20px 20px;
    width: 200px;
    border: none;
    margin-left: -3px;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff0000;
    cursor: pointer;
}

.button-cta:hover{
    background-color: #fd1e1e;
}

/*----- Sessão -----*/
section{
    display: flex;
    flex-flow: row wrap;
    background: #000;
    height: 1800px;
}

.container{
    flex: 40%;
    padding: 10% 1% 5% 5%;
    font-size: 25px;
    border-top: 8px solid #222;
}

.container h1{
    font-size: 45px;
    margin-bottom: 5%;
}

.tv-video{
    flex: 40%;
    border-top: 8px solid #222;
}

.tv-video img{
    position: absolute;
    z-index: 1;
    width: 452px;
}

.tv-video video{
    position: relative;
    top: 70px;
    left: 60px;
    width: 365px;
}

.dispositivos{
    flex: 40%;
    border-top: 8px solid #222;
}

.dispositivos img{
    position: absolute;
    z-index: 1;
    width: 470px;
    margin-top: 5%;
}

.dispositivos video{
    position: relative;
    top: 80px;
    left: 80px;
    width: 300px;
}

#perfil-infantil{
    margin-top: 5%;
}

/*----- Perguntas frequentes -----*/
.container-2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 700px;
    background: #000;
    border-top: 8px solid #222;
}

.container-2 h1{
    text-align: center;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.questions{
    margin: 4px;
    padding: 20px 20px 20px 30px;
    width: 650px;
    background: #303030;
    font-size: 25px;
    cursor: pointer;
}

.entrar-2{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 150px;
    background: #000;
}

.entrar-parte-de-baixo{
    flex-flow: row wrap;
}

.vamos-la-2{
    padding: 10px 17px 18px 17px;
    margin-left: -4px;
    width: 200px;
    color: #ffffff;
    background: #ff0000;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

/*----- Rodapé -----*/
.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #000;
    height: 430px;
    border-top: 8px solid #222;
}

.card-1{
    width: 250px;
    height: 210px;
    margin-top: 5%;
    padding-top: 1%;
    /* border: 1px solid white; */
}

.card-1 h3{
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 8%;
}

.card-2{
    width: 200px;
    height: 200px;
    margin-top: 5%;
    padding-top: 5%;
    /* border: 1px solid white; */
}

.card-3{
    width: 200px;
    height: 200px;
    margin-top: 5%;
    padding-top: 5%;
    /* border: 1px solid white; */
}

.card-4{
    width: 200px;
    height: 200px;
    margin-top: 5%;
    padding-top: 5%;
    /* border: 1px solid white; */
}

.footer a{
    display: block;
    margin-top: 6%;
    font-size: 14px;
    color: #757575;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

/*Seleção de idioma rodapé*/
.select-idiomas-footer{
    padding: 10px 20px;
    margin-top: 20%;
    color: #757575;
    border-radius: 3px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
}

.option-footer{
    background-color: #000;
}

.p-footer{
    display: block;
    margin-top: 10%;
    font-size: 14px;
    color: #757575;
}
