*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    color: #ffffff;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    position: absolute;
    z-index: 1;
    margin: 3% 5% 5% 6%;
}

.idiomas-navbar{
    padding: 5px;
    width: 120x;
    margin-left: 33rem;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

.option-navbar{
    background-color: #757575;
    font-size: 15px;
}

.botao-entrar-navbar{
    display: inline-block;
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff0000;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-left: 50rem;
    margin-top: -35px;
}

.navbar img{
    width: 130px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 657px;
    position: relative;
    background-size: cover;
    background-image: url(../img/background-main.jpg);
}

.main-child{
    margin-top: 5rem;
    z-index: 1;
}

.main h1{
    font-size: 45px;
    max-width: 800px;
}

.main h2{
    margin-top: 30px;
}

.main h3{
    font-size: 20px;
    font-weight: lighter;
    margin-top: -45px;
}

.gradient{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 75%,rgba(0,0,0,.8) 100%);
}

/*----- Formulário / botao cta-----*/
.cta{
    margin-top: 5rem;
}

input{
    width: 400px;
    padding: 20px 20px 20px 5px;
    margin-top: 1rem;
}

input::placeholder{
    font-size: 17px;
}

input:focus{
    outline: 0;
}

.button-cta{
    padding: 15px 20px 20px 20px;
    width: 200px;
    border: none;
    margin-left: -3px;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff0000;
    cursor: pointer;
}

.button-cta:hover{
    background-color: #fd1e1e;
}

/*----- Sections -----*/
.container-1{
    display: flex;
    flex-flow: row wrap;
    height: 430px;
    border-top: 8px solid #222;
    background-color: #000;
}

.texto-1{
    flex: 40%;
    padding: 40px 0 0 50px;
    margin-top: 2%;
    /* border: 1px solid white; */
}

.texto-1 h1{
    font-size: 50px;
    margin-bottom: 5%;
    margin-top: 8%;
}

.texto-1 h2{
    font-size: 25px;
    font-weight: 400;
    padding: 1%;
}

.imagem-1{
    flex: 50%;
    margin-top: 3%;
    /* border: 1px solid white; */
}


.imagem-1 img{
    position: absolute;
    margin-left: 5%;
    margin-bottom: 1%;
    z-index: 1;
    width: 450px;
}

.video-1{
    position: relative;
    top: 70px;
    left: 112px;
    width: 325px;
}
/* container 2*/
.container-2{
    display: flex;
    flex-flow: row wrap;
    height: 430px;
    border-top: 8px solid #222;
    background-color: #000;
}

.texto-2{
    flex: 40%;
    padding: 50px 50px 0 0px;
    order: 2;
    /* border: 1px solid white; */
}

.texto-2 h1{
    font-size: 50px;
    margin-bottom: 5%;
    margin-top: 6%;
}

.texto-2 h2{
    font-size: 25px;
    font-weight: 400;
    padding: 1%;
}

.imagem-2{
    flex: 50%;
    /* border: 1px solid white; */
}


.imagem-2 img{
    margin-left: 5%;
    margin-bottom: 1%;
    z-index: 1;
    width: 450px;
}

/*----- Container 3-----*/
.container-3{
    display: flex;
    flex-flow: row wrap;
    height: 430px;
    border-top: 8px solid #222;
    background-color: #000;
}

.texto-3{
    flex: 40%;
    padding: 40px 0 0 50px;
    /* border: 1px solid white; */
}

.texto-3 h1{
    font-size: 50px;
    margin-bottom: 5%;
    margin-top: 20%;
}

.texto-3 h2{
    font-size: 24px;
    font-weight: 400;
    padding: 1%;
}

.imagem-3{
    flex: 50%;
    /* border: 1px solid white; */
}


.imagem-3 img{
    position: absolute;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 1%;
    z-index: 1;
    width: 450px;
}

.video-3{
    position: relative;
    top: 80px;
    left: 150px;
    width: 280px;
}

/* container 4*/
.container-4{
    display: flex;
    flex-flow: row wrap;
    height: 450px;
    border-top: 8px solid #222;
    background-color: #000;
}

.texto-4{
    flex: 40%;
    margin-top: 4%;
    margin-left: 5%;
    padding: 26px 50px 0 0px;
    order: 2;
    /* border: 1px solid white; */
}

.texto-4 h1{
    font-size: 50px;
    margin-bottom: 5%;
    margin-top: 6%;
}

.texto-4 h2{
    font-size: 25px;
    font-weight: 400;
    padding: 1%;
}

.imagem-4{
    flex: 40%;
    /* border: 1px solid white; */
}


.imagem-4 img{
    margin-top: 15%;
    margin-left: 8%;
    margin-bottom: 1%;
    width: 410px;
}

/*----- Perguntas frequentes -----*/
.questions{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    height: 900px;
    border-top: 8px solid #222;
    background-color: #000;
}

.titulo{
    font-size: 32px;
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: center;
}

/* .lista-perguntas{
    border: 1px solid white;
} */

.question{
    margin: 8px;
    padding: 20px 20px 20px 30px;
    width: 620px;
    height: 32px;
    font-size: 25px;
    background-color: #333;
    cursor: pointer;
}

/*----- Vamos lá 2 -----*/
.go-2{
    align-content: center;
    text-align: center;
    margin-top: 9%;
}

.go-2 h3{
    font-size: 20px;
    font-weight: lighter;
}

.button-cta-2{
    padding: 15px 20px 20px 20px;
    width: 200px;
    border: none;
    margin-left: -3px;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff0000;
    cursor: pointer;
}

/* Rodapé | Footer*/
footer{
    height: 400px;
    color: #757575;
    border-top: 8px solid #222;
    background-color: #000;
}

.footer-duvidas{
    margin: 50px 20px 20px 111px;
}

.footer-a{
    color: #757575;
    text-decoration: none;
}

.footer-a:hover{
    text-decoration: underline;
}

.footer-pagina-inicial{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 4%;
}

.footer-pagina-inicial a{
    display: block;
    color: #757575;
    margin: 3%;
    padding: 1%;
    font-size: 15px;
    text-decoration: none;
}

.footer-pagina-inicial a:hover{
    text-decoration: underline;
}

.coluna-1{
    width: 200px;
}

.coluna-2{
    width: 200px;
}

.coluna-3{
    width: 200px;
}

.coluna-4{
    width: 200px;
}

.footer-p{
    margin-top: 3%;
}

.idiomas-footer{
    padding: 15px;
    font-size: 18px;
    border-radius: 5%;
    margin: 35px 0 0 111px;
    color: #757575;
    background-color: #000;
}

.footer-p{
    font-size: 14px;
    margin-left: 111px;
}